/*------------------css reset-----------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}
/*---------------------NAV--------------------------*/	
body{height: 100vh;
    background-color: rgba( 246, 198, 250, 0.6);
    
}

nav { 
    text-align: center;
    left: 0;
right: 0;
margin: auto;
    position: absolute;
}

nav ul li { display: inline; 
font-family: ;
list-style-type: none;
    font:rgba(246, 198, 250, 100);
    font-size: 1.5em;
    text-decoration: none!important;
    list-style: none;
    font-weight: 700;
    padding: .5em;
    width: ;
    
}

.nav_item{height: 80px;
    
}
a{text-decoration: none;
    color: white;
    transition: .5s;}

.nav_item2:hover {background-color: rgba( 196, 252, 196, 1);
height: 60px;}
.nav_item3:hover {background-color: rgba( 239, 185, 185, 1)}
.nav_item5:hover {background-color: rgba( 246, 250, 198, 1)}
/*-----------------------------------------------*/	
body{overflow-x: hidden;
}

.goTop{position: fixed;
margin-top: -20px;
z-index: 3;}
/*-------------------HOME----------------------------*/	

.sectionOne{height:100%;
    display: flex;
     flex-direction: column;
    align-items: center;
  
}

.hi{position: absolute;
top: 9em;
 }

h1{
text-align: center;
font-family: 'Paytone One', sans-serif;
    font-size: 6em;
    color: #959CE5;
    margin-top: 38vh;
    padding: 0.2em
}

h2{
padding: 0.75em;
text-align: center;
left: 0;
right: 0;
font-family: 'Paytone One', sans-serif;
    font-size: 25px;
    color: white;}

/*-------------------About / section 2----------------------------*/

.sectionTwo{height: auto;
    display: flex;
     flex-direction: column;
    align-items: center;
    background-color: rgba( 196, 252, 196, 0.6);
    z-index: -2;
    position: relative;
  
}
.About{
text-align: center;
font-family: 'Paytone One', sans-serif;
    font-size: 6em;
    color: #959CE5;
    margin-top: 0vh;
    padding: 0.5em
}




.flex{display: flex;
flex-wrap:wrap;
justify-content: space-around;
    width: 100%;
   
}

li{font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: rgba( 246, 198, 250, 1);
    list-style: none;
    font-size: 1.7em;
    line-height: 1.2em;
    width: 200px;
    height: 420px;
    padding: 1em;
    
    
}

.ixdstudent{width: 33%}
/*--------------------Contact---------------------------*/	

.sectionFour {
	height: auto;	
	background-color: rgba( 246, 250, 198,1);
        width: 100%;
    height: 100vh;
    position: relative;
}


.callme{position: relative;
z-index: 1;
    top: 100px;
left:-100px;
  -webkit-transition: linear .5s; /* For Safari 3.1 to 6.0 */
    transition: linear .5s;}
.callme:hover{left: 0px;}

.emailme{position: relative;
z-index: 2;
    top: 100px;
right:-750px;
      -webkit-transition: linear .5s; /* For Safari 3.1 to 6.0 */
    transition: linear .5s;
}
.emailme:hover{right:-550px;}

.hey-contact{position: absolute;
    left: 0;
  right: 0;
    
z-index: 3;
top:0;}

.hey-h1{margin-top:1em
    
}
.info{z-index: 3;
position: absolute;
font-size: 3em;
text-align: center;
    margin: auto;
left: 0;
right: 0;
font-family: 'Nunito', sans-serif;
color:#8DDF91;
    font-weight: 900;
width: 50%;
padding: 1em}
.phonenumber{color: rgba(246,198,250,1);
}
.email{color: rgba(246,198,250,1)}

a.phonenumber{text-decoration: underline;
transition: background-color 1s ease;}
a.email{text-decoration: underline;
transition: background-color 1s ease;}
a.phonenumber:hover {color: aqua}
a.email:hover {color: aqua}

.yellow-gears{opacity: 0.7;
 
}

.button p{color:white;
    font-size: 1.5em;
padding:1em 1.5em 1em 1.5em;
text-align: center;
font-weight:700;
}

.button{width:30% ;
    left: 0;
    right: 0;
    bottom:-17em;
    margin: auto;
    position: relative;
    font-family: 'Nunito', sans-serif;
    background-color:  rgba( 239, 185, 185, 1);
    border: 2px;
    border-style: dashed;
    border-color: white;
    -webkit-transition: linear .2s; /* For Safari 3.1 to 6.0 */
    transition: linear .2s;
;
    
}
.button:hover{background-color: rgba( 240, 210, 210,1);
border-radius: 45px;}

@media screen and (max-width: 1007px) {
    .sectionTwo .info{display: none;}
}

/*--------------------footer---------------------------*/	
footer{
    width: 100%;
    text-align: center;
    background-color: #AD9CDC;
    position: absolute;
    height: 200px;
    bottom: 100;
}

footer p{font-size: 1.em;
font-family: 'Nunito', sans-serif;
padding: 2em}

footer li{position: relative;
    bottom: 0;
    right:0;
    display:inline-block;
height: auto;
    padding: 0;}

/*-----------------------------------------------*/	
.allgears{position: relative;
    z-index: -1;
    opacity: 0.6; 
}
.allgearsportfolio{position: fixed;
    z-index: -1;
    opacity: 0.6; 
}

/*--------------------pink gears---------------------------*/	
.biggearcircles{position: absolute;float:left;
left:-100px; 
top:330px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 100s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.biggear{position: absolute;
z-index:;
float:right;
right: -100px;top:-200px;
      -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 120s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.smallgear{position: absolute;float:right;right:340px;
top:-50px;   -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 50s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}
.spikegear{position: absolute;float:right;right:100px;top:440px;
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.spikegear2{position: absolute;float:left;left:250px;top:-100px;
    
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.woodengear{position: absolute;float:right; left:-60px;  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }}

.woodengear2{position: absolute;float:right; right:-120px;top:225px;  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 25s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }

/*----------------------PORTFOLIOgears-------------------------*/	

.biggearcircleportfolio{position: fixed;float:left;
left:-100px; 
top:330px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 50s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.biggearportfolio{position: fixed;
 
float:right;
right: -100px;top:-200px;
      -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 50s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.smallgearportfolio{position: fixed;float:right;right:340px;
top:-50px;   -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }}

.spikegearportfolio{position: fixed;float:right;right:100px;top:440px;
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.spikegear2portfolio{position: fixed;float:left;left:250px;top:-100px; 
    
       -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 40s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.woodengearportfolio{position: fixed;float:right; left:-60px;  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 30s linear infinite;

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }}

.woodengear2portfolio{position: fixed;float:right; right:-120px;top:225px;  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 25s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(360deg); } }

/*----------------------PORTFOLIOcontent-------------------------*/	
.portfolio-title{margin-top: 0}


.content{position: relative;
    z-index: 2;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
   
 }

.item{width: 100%;
    max-width: 600px;
min-width:400px;}

.item img{width:100%;
}

.case-info{width: auto;
min-width: 400px;
max-width: 600px;
min-height: 200px;
text-align: center;
    padding: 1.5em 1em 1.5em 1.5em;
    background-color: rgba( 240, 210, 210,1);
}


.case-info h2{

font-size: 2.3em;
left: 0;}

.subheading{font-family: 'Nunito', sans-serif;
margin-top: -30px;
padding: 0.75em}

.more-button{width:80%;
    font-family: 'Nunito', sans-serif;
    padding: .5em;
    left: 0;
        right:0;
    margin: auto;
    
    background-color:  rgba( 239, 185, 185, 1);
    border: 2px;
    border-style: dashed;
    border-color: white;
    -webkit-transition: linear .6s; /* For Safari 3.1 to 6.0 */
    transition: linear .6s;
    padding: 0.25em;}

.more-button:hover{background-color: rgba( 240, 210, 210,1);
border-radius: 45px;}
.case-info1 h2{margin-top: 60px}
.case-info1 p{padding-bottom: 1em}

.more-button{color: white;
text-transform: uppercase;
padding-top: 1em;
padding-bottom:1em;
font-family: }


     figure {
	
	height: auto;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .8;
    
}



@media screen and (max-width: 1007px) {
    .sectionTwo .info{display: none;}
}
	






/*-----------------------------------------------*/	



.logo img{width: 100%;
max-width: 700px;
left:0;
right:0;
    bottom: 0;
margin:auto;
    margin-top:110px;
position: absolute;
z-index: -1;
    
}
.face{-webkit-anitmation:1s;
    -webkit- animation-delay: 3s;}


.social{position: absolute;
    bottom: 0;
    right:0;
    display: block;
flex-direction: row-reverse}
.social li {
    list-style: none;
    padding: 1em;
    height: 100px;
    width: 50px
    
    
}
.social li:hover{opacity: 0.5;}




@media screen and (max-width: 1007px) {
    .sectionTwo .info{display: none;}
}
	