/*-----------------CSS RESET------------------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}


/*------------------toggle menu-------------------------*/

a
{
  text-decoration: none;
    color: white;
    font-family:'Paytone One', sans-serif;
  transition: color 0.3s ease;
}

.one a:hover
{color: rgba(161,116,232,1);
}

.two a:hover
{color:rgba(118,229,202,1);
}

.three a:hover
{color: rgba(208,81,151,1);
}

.four a:hover
{color: rgba(208,81,151,1);
}

#menuToggle
{
  position:fixed;
  
  top: 30px;
  left: 30px;
  
  z-index: 2;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:rgba(73,39,123,1); ;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width:70%;
    height: 100vh;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  
  background-color: rgba(198,178,249,0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: .5em;
  font-size: 2em;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}



/*------------------------side bar-------------------------*/
body{overflow-x: hidden;
margin: auto 0;
padding: 0;
width: 100%;}


.sidebar { display: flex;
    background: rgba(198,178,249,1);
min-width: 200px;
    flex-direction: column;
    text-align: center;
   width: 15%;
  position: fixed;

    z-index: 1;
    height:100vh;
    float: left;
    left: 0;
}

.sidebar img{width:130px;
margin: auto;
margin-top: 0;
margin-bottom: 11px}

.side-entries{
    padding: 0.6em;
    font-size: 1.8em;
   font-family: 'Paytone One', sans-serif;
    color:white;
}

.side-a a{text-decoration: none;
}
.side-a a:hover{opacity:0.7;
transition: 0.5s;}
.side-a a:hover{opacity:0.7;
transition: 0.5s;}

.side-a a:visited{color:white}

h4{font-family: arial;
color: rgba(208,81,151,1)}
/*-------------------------------------------------*/
section{min-height: 100vh;
background-image: url(img/background.png);
    background-position: center;
    background-repeat:repeat-y; }

/*----------------------front---------------------------*/
.kevin{font-family: 'Paytone One', sans-serif;
color: #fff;
font-size: 5em;
    margin-bottom:-75px;
padding: 0;
line-height: 0px;}
br{line-height: 57px}



.avatar{padding: 2em;
margin-top:3em;
}

h2{font-family: 'Paytone One', sans-serif;
   color: rgba(73,39,123,1);  
   text-align: center;
    font-size: 2.9em;
max-width: 700px;
margin: auto;
padding: 1em}

h3{font-family: 'Paytone One', sans-serif;
   color: rgba(73,39,123,1);  
   text-align: center;
    font-size: 2em;
margin: auto;
    margin-left: 
padding: 1em}

.downarrow{

width: 100%;
    margin: auto 0;
padding: 0;}

/*----------------------Blog entries---------------------------*/
.entry-title{font-family: arial black;
color: rgba(73,39,123,1) }



.header {display: flex;
    flex-direction: column;
    background: rgba(70,175,211,1);
    text-align: center;
    padding: 0em;
    margin: 0;
    width: 100%;
    height: 200px;
    justify-content: center;
}


.week-no{font-family: 'Paytone One', sans-serif;
color: #fff;
font-size: 5em;
margin-bottom:0px;
padding: 0;
line-height:65px;}

.footer {
    background: rgba(161,116,232,1);
    text-align: center;
    bottom: 0;
    right: 0;
    width: 85%;
    height:100px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    float:right;
    width: 85%;
    right: 0;
    align-items: center;
}

.blog {align-content: center;
    text-align: center;
    background-color: ;
    width:100%;
    float:right;
    right: 0;
    
   
}
/*----------------------Blog titles---------------------------*/
.blog-title1{background-color: rgba(161,116,232,1);
height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.blog-title2{background-color: rgba(118,229,202,1);
height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.blog-title3{background-color: rgba(208,81,151,1);
height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.movie-title1{background-color: rgba(229,74,119,1);
height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}
.bottom{margin-bottom:}


/*-------------------------------------------------*/
p{
    margin: auto;
    text-align: justify;
    padding-bottom:1em;  
    width:45%;
    font-family:arial ;
    font-size: 1.4em;
    line-height: 1.5em;
    color: rgba(73,39,123,1);
    margin-top: 30px;
}





/*----------------------media queries---------------------------*/

/*medium*/

@media all and (max-width: 1000px) {
   
    .avatar{padding: 1em;
            margin-top:1em;
            transform: scale(0.8)}
    .title{margin-bottom:0px;}
    .sidebar{display: none;}
    .container{width: 100%}
    p{width: 75%;
    font size:1.8em}
    section{ height: auto;}
    
}


@media (max-width: 654px){
    .avatar{padding: 1em;
margin-top:-1em;
    transform: scale(0.6)}
    .intro{display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;}
    .header{height: 100px;}
    .sub-title{font-size: 2em;margin-top:-50px;}
    .blogpost-img{width: 100%;}
    .sub-heading{font-size: 1.2em;
        line-height: 1.5em;
    margin-top: 10px;
        width: 85%;
    text-align: center;}
  
    .blog-title1{height:70px;}
    .week-no{font-size:3em;
    line-height: 38px;}
    p{padding-top: 1.5em;
        font-size:1.5em;
    line-height: 1.2em;
        margin-top: 50px;
        width: 95%;
    text-align:justify;}
    .name{font-size: 2em;
        margin-bottom: -50px;
    margin-top:20px}

.downarrow{
width: 101%;
 position: relative;
    right: 0;
padding: 0;}
    body{overflow-x: hidden;}
    
    .kevin{margin-top: -35px;
    font-size:2.5em;
     ;}
    br{line-height: 25px}
}

    @media (min-width: 1000px){
      #menuToggle{display: none;}
.downarrow{
width: 85.2%;
 position: absolute;
    right: 0;
    bottom:-214px;
padding: 0;}
        .sub-heading{font-size: 1.9em;width: 40%;}
        p{width: 55%}
 .name{font-size: 2em;
        margin-top: 30px;}
}




